.assign-to {
  @include flex-container(column);

  position: absolute;
  top: 0;

  width: 100%;

  .amount {
    padding: $spacing;

    background-color: blue;
    color: white;
  }

  .person {
    padding: $spacing;
    border: 2px solid gray;
  }

  .ok {
    padding: $spacing;
    margin-top: $spacing;

    border: 0;

    background-color: darkblue;
    color: white;
  }

}

