.assign-to {
  @include flex-container(column);

  position: absolute;
  top: 0;

  width: 100%;
  padding: 10px;

  background-color: #ccc;
  opacity: 0.85;

  .new-name {
    @include body-font;

    padding: $spacing * 0.75;
    border: 1px solid darken(#ccc, 20%);
    border-radius: 5px;
  }

  .ok {
    @include body-font;

    padding: $spacing * 0.75;
    margin-top: $spacing;

    border: 0;

    background-color: darkblue;
    color: white;
  }

}
