@import 'reset';

* {
  box-sizing: border-box;
}

$spacing: 1rem;

// z-indexes
$receipt-z: 10;
$receipt-elements-z: 11;
$assign-to-z: 20;

@import "components";

.receipt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $receipt-z;
}
.receipt-elements {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $receipt-elements-z;
}