@import 'reset';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 20px;
}

$spacing: 1rem;

@import "mixins";
@import "z-indexes";

@import "layout";
@import "components";

.done-link {
  position: relative;
  z-index: $done-link-z;
}
